@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");
@media screen and (min-width: 1200px) {
  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px 20px;
    padding: 10px;
    font-family: "Roboto", sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-around;
  }

  .h1Free{
    margin: 20px;
    font-family: "Roboto", sans-serif;
    margin-left: 625px;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 45px;
  }
}
