@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");
@media screen and (min-width: 1200px) { 
    .searchBar {
        background-color: rgba(0, 0, 0, 0.05);
        width: 600px;
        height: 45px;
        margin-right: 10px;
        margin-left: 400px;
        font-family: "Roboto", sans-serif;
        border-radius: 8px;
        outline:none;
        border: 1px solid silver;
    }
    
    .generalBar {
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
  } 

}